* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color: white;
    --main-color: #04fffb;
}

html{
    font-size: 62.5%;
    overflow-y: scroll; /* Corrigido */
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo-hover{
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

span{
    color: var(--main-color);
}

.logo span{
    color: var(--main-color);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 22vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.home-content p{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.btn{
    margin-top: 1.5rem;
    font-size: 2rem;
    padding: 1.8rem 4rem;
    background-color: var(--main-color);
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn:hover{
    box-shadow: 0 0 30px var(--main-color);
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-icons a{
    font-size: 2.8rem;
    transition: 0.4s ease-in-out;
}

.social-icons a:hover{
    color: var(--main-color);
}

.text-animation span{
    color: var(--main-color);
    text-transform: capitalize;
}

.about{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 5rem;
    margin-bottom: 3cm;
}

.about-content p{
    font-size: 2.2rem;
    margin-top: 1.5rem;
}

.about-img img{
    width: 80%;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
}

.services .heading{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 10rem;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.services-box{
    flex: 1;
    min-width: 32rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.services-box img{
    width: 300px;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 2cm;
}

.services-box:hover{
    box-shadow: 0 0 20px var(--main-color);
}

.services-info h4{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.services-info p{
    font-size: 1.6rem;
}

.services a{
    color: #fff !important; /* ou a cor desejada */
    text-decoration: none !important; /* Remove o sublinhado */
}

.contact{
    text-align: center;
    align-items: center;
}

.contact .heading{
    font-size: 5rem;
}

.input-box{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.input-box input{
    width: 50%;
}

form{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input,
textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    background: var(--second-bg-color);
    color: var(--text-color);
    border-radius: .5rem;
    border: none;
}

textarea{
    resize: none;
}

form .btn{
    width: 40%;
    margin: 0 auto;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
    background-color: var(--second-bg-color);
}

footer .social a{
    font-size: 2.8rem;
    transition: 0.4s ease-in-out;
}

footer .social a:hover{
    color: var(--main-color);
}

footer .list{
    display: flex;
    gap: 2rem;
}

footer .list li a{
    font-size: 1.5rem;
}

footer .copyright{
    font-size: 1.5rem;
}
